<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><%= siteTitle %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link<%= currentPage === 'home' ? ' active' : '' %>" href="/home">Accueil</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Mes Procès</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link<%= currentPage === 'contact' ? ' active' : '' %>" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<%= currentPage === 'about' ? ' active' : '' %>" href="/about">À Propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<%= currentPage === 'faq' ? ' active' : '' %>" href="/faq">Foire aux Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<%= currentPage === 'login' ? ' active' : '' %>" href="/auth/login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link<%= currentPage === 'register' ? ' active' : '' %>" href="/auth/register">Inscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
